<% provide(:title, 'Home') %>
	<div class="center here-unit">
		<h1>The Baseball Site</h1>
		
		<h2>
		This is where the subtitle goes.		
		</h2>

		<%= link_to "Sign Up Now", signup_path, class: "btn btn-large btn-primary" %>
	</div>


