<% provide(:title, 'Home') %>
	<div class="center here-unit">
		<h1>Imagine Your Trip Before It Happens</h1>
		
		<h2>
		Half the fun of travelling is the anticipating and planning of its arrival - even if it never does.
		
		</h2>

		<%= link_to "Sign Up Now", signup_path, class: "btn btn-large btn-primary" %>
	</div>


